:root {
    --background-color: #FCf8f5;
    --background-color-cart: #FFFFFF;
    --border-radius: 10px;
    --size-img: 250px;
    --size-img-mobile: 340px;
    --accent-color: #c83b0e;
    --text-color:  #2f0f03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    color: var(--text-color);
}

.container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.desserts {
    width: 70%;
}

.desserts__h1 {
    padding-bottom: 20px;
    font-size: 30px;
}

.desserts__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.desserts__item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 5px;
    position: relative;
    width: var(--size-img);
}

.desserts__img {
    
    height: var(--size-img);
    object-fit: cover;
    border-radius: var(--border-radius);
}

.desserts__img.active {
    border: 2px solid var(--accent-color);
}

.desserts__icon {
    width: 20px;
    height: 20px;
}

.desserts__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--background-color-cart);
    border: 1px solid var(--accent-color);
    height: 40px;
    width: 60%;
    position: absolute;
    top: calc(var(--size-img) - 20px);
    left: calc(20%);
    border-radius: 50px;
    color: var(--text-color);
}

.desserts__button:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

.desserts__button.active {
    background-color: var(--accent-color);
    color: var(--background-color);
    justify-content: space-between;
    padding: 0 20px;
    cursor: default;
}

.desserts__count {
    background-color: transparent;
    border: 1px solid var(--background-color);
    border-radius: 50%;
    cursor: pointer;
    color: var(--background-color);
    width: 20px;
    height: 20px;
    /* font-size: 15px; */

}

.desserts__count:hover {
    background-color: var(--background-color);
    color: var(--accent-color);
}

.desserts__type {
    padding-top: 25px;
    font-size: 13px;
    opacity: .5;
}

.desserts__price {
    font-size: 15px;
    color: var(--accent-color);
    font-weight: 500;
}

.cart {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: fit-content;
    background-color: var(--background-color-cart);
    border-radius: var(--border-radius);
   
}

.cart__text-header {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: bold;

}

.cart__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
}

.cart__img {
    width: 130px;
    
}

.cart__text-footer {
    color: #896258;
    font-size: 12px;
}

@media (max-width: 767px) {

    
    .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .desserts {
        width: 380px;
        padding: 0 20px;
    }

    .desserts__item {
        width: var(--size-img-mobile);
    }

    .desserts__list {
        justify-content: center;
    }


    .cart {
        width: 340px;
    }
}